fightingcalculators.org {
	root /home/ubuntu/website
	reverse_proxy localhost:2175
}

www.fightingcalculators.org {
	redir https://fightingcalculators.org{uri}
}

benkins.fightingcalculators.org {
	root /home/ubuntu/benkins-root
	reverse_proxy localhost:8080
}

notiongraph.fightingcalculators.org {
	root /home/ubuntu/notion-graphviz
	reverse_proxy localhost:8585
}

scout.fightingcalculators.org {
	redir https://scout-b39c0.web.app/
}

notion.fightingcalculators.org {
	redir https://bvisness.notion.site/2023-Season-18c872fda83d423095429c09d1cf4fe1
}

ical.fightingcalculators.org {
	reverse_proxy https://calendar.google.com/calendar/ical/2175.first%40gmail.com/public/basic.ics
}

gcal.fightingcalculators.org {
	redir https://calendar.google.com/calendar/embed?src=2175.first%40gmail.com&ctz=America%2FChicago
}

