fightingcalculators.org {
  root /home/ubuntu/website
  proxy / localhost:2175
}

www.fightingcalculators.org {
  redir https://fightingcalculators.org{uri}
}

benkins.fightingcalculators.org {
  root /home/ubuntu/benkins-root
  proxy / localhost:8080
}

notiongraph.fightingcalculators.org {
  root /home/ubuntu/notion-graphviz
  proxy / localhost:8585
}

scout.fightingcalculators.org {
	redir https://scout-b39c0.web.app/
}