
|{% extends "base.html" %}
{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="multi-column">
  <div class="column">
    <a href="/static/Dashboard/FinalCopyTeamManual2018-2019.pdf" target="_blank" class="dashboard-item">
      <img src="/static/Dashboard/booknew.png">
    </a>
    <p class="dashboard-text">Team Manual</p>
  </div>

  <div class="column">
    <a href="https://drive.google.com/drive/folders/0AN_7YEoFMyBiUk9PVA" target="_blank" class="dashboard-item">
      <img src="/static/Dashboard/googledrivenew.png">
    </a>
    <p class="dashboard-text">Team Docs</p>
  </div>

  <div class="column">
    <a href="https://trello.com/team2175subteams/home" target="_blank" class="dashboard-item">
      <img src="/static/Dashboard/trello.png">
    </a>
    <p class="dashboard-text">Trello</p>
  </div>

  <div class="column">
    <a href="https://frc2175.slack.com" target="_blank" class="dashboard-item">
      <img src="/static/Dashboard/slacknew.png">
    </a>
    <p class="dashboard-text">Slack</p>
  </div>

  <div class="column">
    <a href="https://calendar.google.com/calendar/embed?src=2175.first@gmail.com&ctz=America/Chicago" target="_blank" class="dashboard-item">
      <img src="/static/Dashboard/calendarnew.png">
    </a>
    <p class="dashboard-text">Calendar</p>
  </div>
</div>

<div class="multi-column">
  <div class="column">
    <a href="https://fightingcalculators.org/register" target="_blank" class="dashboard-item" align="left">
      <img src="/static/Dashboard/registration.png">
    </a>
    <p class="dashboard-text">Registration</p>
  </div>
</div>
{% endblock %}
