{% extends "base.html" %}
{% block title %}
Example
{% endblock %}

{% block content %}
<img src="/static/Bob-Ross.jpg">
<div class="one-column">
  <div class="column">
    <h2>Example Things</h2>
    <p>This is an example page. Right now you are reading text from a one-column div, which centers everything and makes stuff look cool. Here is some more text just to make sure that the content is long enough to look nice. Usually we just use some Lorem Ipsum text like Bob Ross quotes, but I was too lazy to do that so here are some ramblings of mine.</p>
  </div>
</div>
<div class="multi-column">
  <div class="column">
    <h2>Some Bob Ross Text:</h2>
    <p>The only thing worse than yellow snow is green snow. Take your time. Speed will come later. Be so very light. Be a gentle whisper. You don't have to spend all your time thinking about what you're doing, you just let it happen. We need dark in order to show light.</p>
    <p>I like to beat the brush. Let your imagination be your guide. When you buy that first tube of paint it gives you an artist license. If it's not what you want - stop and change it. Don't just keep going and expect it will get better.</p>
    <p>Don't fight it, use what happens. So often we avoid running water, and running water is a lot of fun. Now it's beginning to make a little sense. I want everbody to be happy. That's what it's all about. No worries. No cares. Just float and wait for the wind to blow you around.</p>
    <p>These trees are so much fun. I get started on them and I have a hard time stopping. Clouds are free they come and go as they please. Everyone needs a friend. Friends are the most valuable things in the world. You don't want to kill all your dark areas they are very important. For the lack of a better word I call them hangy downs.</p>
  </div>
  <div class="column">
    <h2>Some More Bob Text:</h2>
    <p>No pressure. Just relax and watch it happen. This is probably the greatest thing that's ever happened in my life. Water's like me. It's laaazy ... Boy, it always looks for the easiest way to do things We artists are a different breed of people. We're a happy bunch. It just happens - whether or not you worried about it or tried to plan it.</p>
    <p>We don't have to be committed. We are just playing here. This is the fun part Let your heart take you to wherever you want to be. Use your imagination, let it go. These little son of a guns hide in your brush and you just have to push them out.</p>
    <p>This is a happy place, little squirrels live here and play. How do you make a round circle with a square knife? That's your challenge for the day. This is where you take out all your hostilities and frustrations. It's better than kicking the puppy dog around and all that so. Imagination is the key to painting.</p>
    <p>If you don't like it - change it. It's your world. There isn't a rule. You just practice and find out which way works best for you. All you have to learn here is how to have fun. I'm a water fanatic. I love water. Just go out and talk to a tree. Make friends with it. You got your heavy coat out yet? It's getting colder.</p>
  </div>
</div>
{% endblock %}
