<header>
  <div class="the-logo">
    <a href="/"><img class="logo" src="/static/calcman-blue-transparent.png"></a>
  </div>
  <div class="not-the-logo">
    <a href="/"><h1>The Fighting Calculators</h1></a>
    <nav>
      <ul class="outer">
        <li>
          <a href="/">About</a>
          <ul class="nested">
            <li><a>Team History</a></li>
            <li><a>Past Robots</a></li>
            <li><a>Sponsors</a></li>
          </ul>
        </li>
        <li><a>Media</a></li>
        <li><a>Dashboard</a></li>
        <li><a>Team Organization</a></li>
      </ul>
    </nav>
  </div>
</header>
