<header>
  <div class="the-logo">
    <a href="/"><img class="logo" src="/static/calcman-blue-transparent.png"></a>
  </div>
  <div class="not-the-logo">
    <a href="/"><h1>The Fighting Calculators</h1></a>
    <nav>
      <ul class="outer">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/register">Registration Information</a>
        </li>
        <li>
          <a href="#" onclick="javascript:void(0)">About</a>
          <ul class="nested">
            <li><a href="/team-history">Team History</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
            <!-- <li><a href="/team-requirements">Team Requirements</a></li> -->
            <li><a href="/team-organization">Team Organization</a></li>
          </ul>
        </li>
        <li>
    			<a href="#" onclick="javascript:void(0)">Media</a>
    			<ul class="nested">
    				<li><a href="https://frc2175.smugmug.com/"target="_blank">SmugMug</a></li>
    				<li><a href="https://twitter.com/frc2175?lang=en"target="_blank">Twitter</a></li>
    				<li><a href="https://www.facebook.com/frc2175/"target="_blank">Facebook</a></li>
    				<li><a href="https://www.youtube.com/user/frc2175"target="_blank">YouTube</a></li>
            <li><a href="https://www.instagram.com/fightingcalculators2175/"target="_blank">Instagram</a></li>
    			</ul>
    		</li>
        {% if loggedIn %}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
        {% endif %}
        {% if not loggedIn %}
        <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
