<header>
  <div class="the-logo">
    <a href="/"><img class="logo" src="/static/calcman-blue-transparent.png"></a>
  </div>
  <div class="not-the-logo">
    <a href="/"><h1>The Fighting Calculators</h1></a>
    <nav>
    <div class = "disclaimer">
      <h2>DISCLAIMER: The website is not finished and some features are not yet available</h2>
    </div>
      <ul class="outer">
        <li>
          <a href="/">About</a>
          <ul class="nested">
            <li><a href="/team-history">Team History</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
            <li><a href="/register">How to Register</a></li>
            <li><a href="/team-organization">Team Organization</a></li>
            <li><a href="/past-robots">Past Robots</a></li>
          </ul>
        </li>
        <li><a href="/">Media</a></li>
        <li><a href="/">Dashboard</a></li>
      </ul>
    </nav>
  </div>
</header>
