{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<img src="/static/LakeSuperior.jpg">
<div class="narrow-column">
    <h2>Bob Ross's Influence</h2>
    <p>The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. We'll lay all these little funky little things in there. That's what painting is all about. It should make you feel good when you paint. Clouds are free. They just float around the sky all day and have fun. There it is.</p>

    <p>Remember how free clouds are. They just lay around in the sky all day long. Let your imagination be your guide. Now, we're going to fluff this cloud. This is the fun part</p>

    <p>Only God can make a tree - but you can paint one. Let's have a little bit of fun today. If we're gonna walk though the woods, we need a little path. Go out on a limb - that's where the fruit is. Everything's not great in life, but we can still find beauty in it.</p>
</div>

<div class="multi-column">
  <div class="column">
    <h2>Bob is hip</h2>
    <p>The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. We'll lay all these little funky little things in there. That's what painting is all about. It should make you feel good when you paint. Clouds are free. They just float around the sky all day and have fun. There it is.</p>

    <p>Remember how free clouds are. They just lay around in the sky all day long. Let your imagination be your guide. Now, we're going to fluff this cloud. This is the fun part</p>

    <p>Only God can make a tree - but you can paint one. Let's have a little bit of fun today. If we're gonna walk though the woods, we need a little path. Go out on a limb - that's where the fruit is. Everything's not great in life, but we can still find beauty in it.</p>
  </div>
  <div class="column">
    <h2>Bob is awesome</h2>
    <p>The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. We'll lay all these little funky little things in there. That's what painting is all about. It should make you feel good when you paint. Clouds are free. They just float around the sky all day and have fun. There it is.</p>
  </div>
</div>

<div class="multi-column">
  <div class="column">
    <h2>Bob is hip</h2>
  </div>
</div>
<div class="multi-column">
  <div class="column">
    <p>The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. We'll lay all these little funky little things in there. That's what painting is all about. It should make you feel good when you paint. Clouds are free. They just float around the sky all day and have fun. There it is.</p>

    <p>Remember how free clouds are. They just lay around in the sky all day long. Let your imagination be your guide. Now, we're going to fluff this cloud. This is the fun part</p>

    <p>Only God can make a tree - but you can paint one. Let's have a little bit of fun today. If we're gonna walk though the woods, we need a little path. Go out on a limb - that's where the fruit is. Everything's not great in life, but we can still find beauty in it.</p>
  </div>
  <div class="column">
    <img src="/static/calcman-blue-transparent.png">
  </div>
</div>
<div class="multi-column">
  <div class="column">
    <p>The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. We'll lay all these little funky little things in there. That's what painting is all about. It should make you feel good when you paint. Clouds are free. They just float around the sky all day and have fun. There it is.</p>
  </div>
  <div class="span2 column">
    <p>The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. We'll lay all these little funky little things in there. That's what painting is all about. It should make you feel good when you paint. Clouds are free. They just float around the sky all day and have fun. There it is.</p>

    <p>Remember how free clouds are. They just lay around in the sky all day long. Let your imagination be your guide. Now, we're going to fluff this cloud. This is the fun part</p>

    <p>Only God can make a tree - but you can paint one. Let's have a little bit of fun today. If we're gonna walk though the woods, we need a little path. Go out on a limb - that's where the fruit is. Everything's not great in life, but we can still find beauty in it.</p>
  </div>
</div>
{% endblock %}
