{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<img src="/static/LakeSuperior.jpg">
<h2>Our Team</h2>
<div class="multi-column border-bottom">
  <div class="column span2">
    <p><a href="https://www.firstinspires.org/">FIRST</a> Robotics Competition Team 2175, the Fighting Calculators, is a high school robotics team consisting of students grades 9 - 12 from the Math and Science Academy (MSA) in Woodbury, Minnesota. The team was founded in 2006 and their rookie season was 2007. In 2010, we were joined by two new teams in Woodbury: <a href="http://www.error3130.org/">Team 3130, the ERRORs</a>, from East Ridge High School, and <a href="http://www.royaltwrecks.org/">Team 3206, Royal T-Wrecks</a>, from Woodbury High School. In 2011, Park High School started Team 3883, the Data Bits. We share shop space with the ERRORs at East Ridge High School and work together on various projects.</o>
    <p>The team mascot is Cosine, the Fighting Calculator. Cosine was recently joined by a smaller Fighting Calculator named PreCalc.</p>
    <p>The team is also heavily involved in the FLL program for 6th to 9th graders at MSA. Many new team members have FLL experience, and many current team members mentor FLL teams. In 2017, three FTC teams were started at MSA. Fighting Calculators members provide Computer Aided Design (CAD) and code training for the FTC team, along with other mentoring roles.</p>
  </div>
  <div class="column">
    <img src="/static/Cosine.png">
  </div>
</div>
<div class="column">
  <p>The Fighting Calculators are committed to spreading the message of FIRST in the community by holding demonstrations for elementary and middle schools and at community events, along with providing STEM related activities for kids. Annual outreach events occur at the Minnesota State Fair and Woodbury Days. The team also often holds outreach events with STEM activities at local elementary and middle schools. The team’s goal in community outreach is to promote the ideals of FIRST and thereby increase community and state awareness of science and technology education, introduce kids to STEM, and provide inspiration in pursuing a career in technology.</p>
</div>
{% endblock %}
