{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h2>Login</h2>
{% if message %}
<div class="login-message">
    {{ message }}
</div>
{% endif %}
<form action="/login-post" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <input type="hidden" value="{{ redirect }}" name="redirect">
    <input type="submit">
</form>
<a href="/signup">Don't have an account? Click here to sign up.</a>
{% endblock %}
