{% extends "base.html" %}
{% block title %} 
Past Robots
{% endblock %}
  
{% block content %}
<div class = "past-robots">
	<div class = "column">	
		<div style="text-align: center">
			<h1>2018 - Jumpshot</h1>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/D28YqsukPTs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
			<h1>2017 - Crossfire</h1>
			<img src = "/static/Crossfire.png">
		
			<h1>2016 - Night Furry</h1>
			<img src = "/static/NightFury.png">		
		
			<h1>2015 - Stack-a-Saurus Rex</h1>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/xYhJeKIUYp0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		
			<h1>2014 - Atlas</h1>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/3H1qIbXSpek" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	
			<h1>2013 - Trap I</h1>
			<img src = "/static/TrapI.png">
		
			<h1>2012 - Blue Thunder</h1>
			<img src = "/static/BlueThunder.png">
				
			<h1>2011 - The Scorpion</h1>
			<img src = "/static/TheScorpion.png">
		
			<h1>2010 - The Multiplier</h1>
			<img src = "/static/TheMultiplier.png">
		
			<h1>2009 - Box O'Rocks</h1>
			<img src = "/static/BoxO'Rocks.png">
		
			<h1>2008 - Heavy Lifter</h1>
			<img src = "/static/HeavyLifter.png">
		
			<h1>2007 - The Fighting Calculator</h1>
			<img src = "/static/TheFightingCalculator.png">
		</div>
	</div>
</div>
{% endblock %}
 