{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div style="text-align:center">
    <h1>How to Register</h1>
</div>

<!-- <p>Below are all the presentations we went through in the registration meeting, along with the necessary form, and the team manual. The team manual goes over all of the information covered in the meeting, but in more detail (it is required that all team members read it). Please follow the directions for registration on page 13-14 in the manual and make sure you have done all of them by December 13th. Additionally, click <a href = "/team-organization"> here </a> if you wish to learn more about the subteams on the team. </p> -->

<p>Below are all the important forms you, or your student needs to participate in the coming FRC season. Good luck, and have a happy robotics season! </p>
<div class = "icon-and-link">
        <a href = "https://docs.google.com/presentation/d/1DbF1RfRQL-vBph8O0IKo7QVT3jOmripIowKtm8871y4/edit?usp=sharing" target = "_blank">
            Info meeting slides
        </a>
    ​​<br>
    <br>
        <a href = "https://drive.google.com/file/d/10NEoKtdylktBHnvwxoHggriiCtLS3j64/view?usp=sharing" target = "_blank">
            FIRST Online Registration
        </a> 
    ​​<br> 
    <br>
        <a href = "https://docs.google.com/forms/d/e/1FAIpQLSftujpxHU3MS72ANDWPSR6YBF_sODl4g2fKXheRUhaKrxs1jw/viewform?usp=sf_link" target = "_blank">
            Student Info and Health Form 
        </a>
    <br>    
    <br>
        <a href = "https://drive.google.com/file/d/10NEoKtdylktBHnvwxoHggriiCtLS3j64/view?usp=sharing" target = "_blank">
            Liability and Health Permission Form
        </a>
    <br>   
    <br>
        <a href = "https://drive.google.com/file/d/1Ng8r7uVDnxnKh9hBwtJzwj5rRkxeHuV5/view?usp=sharing" target = "_blank">
            Robotics Event Form
        </a>
    <br>   
    <br>
        <a href = "https://drive.google.com/file/d/12Fwq3HRsfmxb5ZgU3xyqfhcbZoYiOdkx/view?usp=sharing" target = "_blank">
            Background Check Form (for adult volunteers)
        </a>
    <br>    
    <br>
        <a href = "https://drive.google.com/file/d/1ZJxpNwOeVSPwuhyQIJCOxQMR5ao1MLCT/view?usp=sharing" target = "_blank">
            Adult Liabillity (for adult volunteers)
        </a>
    <br>    
    <br>        
        <a href = "https://drive.google.com/file/d/1B0e0Dgi3dcaAD_Heq1yYnHoMRVGMg17U/view?usp=sharing" target = "_blank">
            FIRST online registration
        </a>
    <br>    
    <br>
    
  
    <!-- <br> 
        <a href = "/static/Dashboard/2019-2020 Student Liability Form.pdf" target = "_blank">
            Student Liability Form
        </a>
    <br>
        <a href = "/static/Dashboard/2019-2020_ Adult Liability Form.pdf" target = "_blank">
            Adult Liability Form
        </a>
    <br>
        <a href = "https://docs.google.com/document/d/1DtABZ41HlIRHEeVD25QgeFlx85AQI3efgTD2_Mv4-bY/edit?usp=sharing" target = "_blank">
            FIRST Code of Conduct Form
        </a>-->
    <!-- <br> 
        <a href = "https://drive.google.com/drive/u/0/folders/1Vi9bXGHXl_8szBLc3bvUouPecEmJPVT9" target = "_blank">
            Liability Forms (Adult, Health/Student, and Code of Conduct)
        </a> -->
    <br>
        <a href = "/static/Dashboard/TeamManual2019-2020.pdf" target = "_blank">
            This is not an important form, but here's the 2019-2020 Team Manual for anyone who's curious. 
        </a>
    <br>
</div>
<p>If you were not at the meeting, you are still free to register for the team. Please turn in all forms and checks in an envelope to Mr. La Casse in Building B. Feel free to email <a href = "mailto:info@fightingcalculators.org">info@fightingcalculators.org</a> with any questions. </p>
{% endblock %}
