{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div style="text-align:center">
    <h1>How to Register</h1>
</div>
<p>Below are all the presentations we went through in the registration meeting, along with the necessary form, and the team manual. The team manual goes over all of the information covered in the meeting, but in more detail (it is required that all team members read it). Please follow the directions for registration on page 13-14 in the manual and make sure you have done all of them by December 13th. Additionally, click <a href = "/team-organization"> here </a> if you wish to learn more about the subteams on the team. </p>
<div class = "icon-and-link">
        <a href = "https://docs.google.com/presentation/d/177xhsZ548kPcUdiggDxJ45KkNPgt395HHpCAWpB8Esk/edit#slide=id.p" target = "_blank">
            2175 Orientation Presentation
        </a>
    ​​<br>
        <!-- <a href = "https://drive.google.com/drive/folders/173C9fhCXI8hwaHImjfNIYNyj4mpwsZcX?usp=sharing" target = "_blank">
            Forms
        </a> 
    ​​<br> -->
    <a href = "https://docs.google.com/forms/d/e/1FAIpQLScIcjTalITH_DCXSHTze4zge1tF27QadupEu2BcByOAAFewfw/viewform?usp=sf_link" target = "_blank">
            Student Info Form
        </a>
    <br>    
        <a href = "https://docs.google.com/forms/d/e/1FAIpQLSdbNvtE46VoRZnHUWhxcR6cMBy3uGFT1x_Cetabi4sRD2S17A/viewform?embedded=true" target = "_blank">
            Health Permission Form
        </a>
    <br>
        <a href = "/static/Dashboard/2019-2020 Student Liability Form.pdf" target = "_blank">
            Student Liability Form
        </a>
    <br>
        <a href = "/static/Dashboard/2019-2020_ Adult Liability Form.pdf" target = "_blank">
            Adult Liability Form
        </a>
    <br>
        <a href = "https://docs.google.com/document/d/1DtABZ41HlIRHEeVD25QgeFlx85AQI3efgTD2_Mv4-bY/edit?usp=sharing" target = "_blank">
            FIRST Code of Conduct Form
        </a>
    <br>
        <a href = "/static/Dashboard/TeamManual2019-2020.pdf" target = "_blank">
            Team Manual
        </a>
    <br>
</div>
<p>If you were not at the meeting, you are still free to register for the team. Please turn in all forms and checks in an envelope to Mr. La Casse in Building B. Feel free to email <a href = "mailto:nlangseth@mnmsa.org">Mr. Langseth</a> with any questions. </p>
{% endblock %}
