{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div style="text-align:center">
    <h1>How to Register</h1>
</div>
<p>Below are all the presentations we went through in the registration meeting, along with the necessary form, and the team manual. The team manual goes over all of the information covered in the meeting, but in more detail (it is required that all team members read it). Please follow the directions for registration on page 13-14 in the manual and make sure you have done all of them by October 31st. <a href = "/team-organization">Additionally, click on this sentence if you wish to learn more about the subteams on the team.</a></p>
<div class = "icon-and-link">
    <a href = "https://docs.google.com/presentation/d/16NiKvxpVzp1nhobluE6gK4PefgDkHZbl9hDM23yEJ9U/edit?usp=sharing" target = "_blank">
        2175 Orientation Presentation
    </a>
    ​​<br>
    <a href = "https://drive.google.com/drive/folders/173C9fhCXI8hwaHImjfNIYNyj4mpwsZcX?usp=sharing" target = "_blank">
        Forms
    </a>
    ​​<br>
    <a href = "https://drive.google.com/open?id=1Jj3Jd2B3YpfCnwJKVm6dBca47IsXDLjv" target = "_blank">
        Final Copy of Team Manual 2018-2019
    </a>
    <br>
</div>
<p>If you were not at the meeting, you are still free to register for the team. Please turn in all forms and checks in an envelope to Mr. La Casse in the Building B Front Office. Feel free to email <a href = "mailto:nlangseth@mnmsa.org">Mr. Langseth</a> with any questions.</p>
{% endblock %}
