{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<h2>Sign Up</h2>
<form action="/signup-post" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <label for="password-conf">Confirm Password:</label>
        <input type="password" id="password-conf" name="password-conf">
    </div>
    <input type="submit">
</form>
{% endblock %}
