{% extends "base.html" %}

{% block title %}
Sponsors
{% endblock %}

{% block content %}
<div style="text-align: center">
    <h1>Thank you Sponsors!</h1>
   <!-- <h2> Platinum Level [$5000+] </h2>
    <h2> Silver Level [$1000 - $2499] </h2> --> 
    <h2> Bronze Level [$500 - $999] </h2>
        <div class = "sponsorpictures">
            <div class = "multi-column">
                <div class = "column">
                    <img src = "https://media.discordapp.net/attachments/882078075288977424/954546627388002375/StackedLightblueC_1.jpg">
                    <img src = "https://cdn.discordapp.com/attachments/882078075288977424/954546581426802688/TCO_Square_200x200_2164799491_l.png">
					<img src = "https://cdn.discordapp.com/attachments/882078075288977424/954546491903578222/8XKt4bbZ_400x400.jpg">
                </div>
            </div>
        </div>
    <h2> Titanium Level [$100 - $499] </h2>
        <div class = "sponsorpictures">
            <div class = "multi-column">
                <div class = "column">
					<img src = "https://cdn.discordapp.com/attachments/882078075288977424/954547586973433896/1519880989097.jpg">
				</div>	
			</div>
        </div>		
    <!-- <h2> Donors [Under $100] </h2> -->
{% endblock %}