{% extends "base.html" %}

{% block title %}
Sponsors
{% endblock %}

{% block content %}
<div style="text-align: center">
    <h1>Thank you Sponsors!</h1>
    <h2> Platinum Level [$5000+] </h2>
        <div class = "sponsorpictures">
            <div class = "multi-column">			
			    <div class = "column">
				    <img src = "/static/Sponsors/3M.jpg">
				    <img src = "/static/Sponsors/Andeavor.png">
                </div>
                <div class = "column">
                    <img src = "/static/Sponsors/Dr.Dash.jpg">
			    </div>	
            </div>		
		</div>
    <!-- <h2> Gold Level [$2500 - $4999] </h2> -->
    <h2> Silver Level [$1000 - $2499] </h2>  
        <div class = "sponsorpictures">
            <div class = "multi-column">
                <div class = "column">
                    <img src = "/static/Sponsors/Phillips Medisize.png">
					<img src = "/static/Sponsors/TSI Incorporated.jpg">
					<img src = "/static/Sponsors/Kraus-Anderson Insurance.png">
                </div>
                <div class = "column">
                    <img src = "/static/Sponsors/Wells Fargo.png">
                </div>
            </div>
        </div>
    <h2> Bronze Level [$500 - $999] </h2>
        <div class = "sponsorpictures">
            <div class = "multi-column">
                <div class = "column">
                    <img src = "/static/Sponsors/Minnesota Orthodontics.png">
                    <img src = "/static/Sponsors/productivity inc.jpeg">
                    <img src = "/static/Sponsors/Organic Climbing USA.png">
                    <img src = "/static/Sponsors/Old National Bank.png">
                    <img src = "/static/Sponsors/Attribute Software.png">
					<img src = "/static/Sponsors/CenturyLink.png">
                </div>
                <div class = "column">
                    <img src = "/static/Sponsors/First State Bank.png">
                    <img src = "/static/Sponsors/Reese R_O_W Control Inc..jpg">
                    <img src = "/static/Sponsors/American Bright Works.PNG">
                    <img src = "/static/Sponsors/JR Computer Associates.png">
                </div>
            </div>
        </div>
    <h2> Titanium Level [$100 - $499] </h2>
        <div class = "sponsorpictures">
            <div class = "multi-column">
                <div class = "column">
					<h3> Michael Rutton </h3>
					<img src = "/static/Sponsors/Art & Science Family Dentristry.png">
				</div>
				<div class = "multi-column">
					<img src = "/static/Sponsors/Interior Care and Construction.png">
				</div>	
			</div>
        </div>		
    <!-- <h2> Donors [Under $100] </h2> -->
{% endblock %}