{% extends "base.html" %}

{% block title %}
Sponsors
{% endblock %}

{% block content %}
<div style="text-align: center">
    <h1>Thank you Sponsors!</h1>
        <div class = "sponsorpictures">
            <div class="multi-column">
                <div class="column">
                    <img src="/static/Sponsors/Ameresco.png">
                    <img src="/static/Sponsors/Anchor Bank.png">
                    <img src="/static/Sponsors/Andersen Corporate Foundation.png">
                    <img src="/static/Sponsors/Art & Science Family Dentristry.png">
                    <img src="/static/Sponsors/CenturyLink.png">
                    <img src="/static/Sponsors/Cub Foods.png">
                    <img src="/static/Sponsors/Dairy Queen.png">
                    <img src="/static/Sponsors/First State Bank & Trust.png">
                    <img src="/static/Sponsors/HCI Hardcoat.png">
                    <img src="/static/Sponsors/Henseler Orthodontics.png">
                    <img src="/static/Sponsors/Hubbard Broadcasting Foundation.png">
                    <img src="/static/Sponsors/HunterDouglas.png">
                    <img src="/static/Sponsors/Huntington Learning Center.png">
                    <img src="/static/Sponsors/Ideal Credit Union.png">
                    <img src="/static/Sponsors/JR Computer Associates.png">
                </div>
                <div class = "column">
                    <img src="/static/Sponsors/Kraus-Anderson Insurance.png">
                    <img src="/static/Sponsors/Land O Lakes.png">
                    <img src="/static/Sponsors/Minnesota Energy Resources.png">
                    <img src="/static/Sponsors/Minnesota Orthodontics.png">
                    <img src="/static/Sponsors/OakRiver Technology.png">
                    <img src="/static/Sponsors/Organic Climbing USA.png">
                    <img src="/static/Sponsors/Pediatric Dentristry.png">
                    <img src="/static/Sponsors/Phillips Medsize.png">
                    <img src="/static/Sponsors/Qdoba Mexican Grill.png">
                    <img src="/static/Sponsors/Renewal by Anderson.png">
                    <img src="/static/Sponsors/Same Foundation.png">
                    <img src="/static/Sponsors/Savers.png">
                    <img src="/static/Sponsors/Scholars of Minnesota.png">
                    <img src="/static/Sponsors/South St Paul Steel Supply Co.png">
                    <img src="/static/Sponsors/Target.png">
                    <img src="/static/Sponsors/The Home Depot.png">
                </div>
            </div>
        </div>
    </div>
{% endblock %}