{% extends "base.html" %}

{% block title %}
Team Organization
{% endblock %}

{% block content %}
<div style="text-align: center">
    <h1>Team Organization</h1>
</div>
<h2>Subteams</h2>
<p>The team is divided into a variety of sub­teams, each specializing on a specific aspect of the build season or competition. Most students will eventually find a few areas to focus on based on their interest and abilities.</p>

<h3><a href = "/team-organization/awards">Awards</a></h3>
<p>The awards team is responsible for the record keeping of the team. Members prepare submissions for the various awards such as the Chairman’s Award and the Woodie Flowers Award. They also work with the team to help them talk to judges who walk through the pits during competitions. Members of the Awards Team also work as pit ambassadors.</p>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Maren: <a href="mailto:marenanderson@mnmsa.org">marenanderson@mnmsa.org</a></span>
<br>
<span>&emsp;&bull;Yiannis: <a href="mailto:yiannispothos@gmail.com">yiannispothos@gmail.com</a></span>
{% endif %}

<h3><a href = "/team-organization/build">Build</a></h3>
<p>The Build Team is responsible for the construction of the robot. Early in build season members of the Build Team brainstorm, build, and test prototype ideas. Later on in the build season, the build team is responsible for the final construction of the competition and practice robots.</p>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Harris: <a href="mailto:harrisanderson15@gmail.com">harrisanderson15@gmail.com</a></span>
<br>
<span>&emsp;&bull;Luke: <a href="mailto:lukebartle@mnmsa.org">lukebartle@mnmsa.org</a></span>
{% endif %}

<h3><a href = "/team-organization/business">Business</a></h3>
<p>The Business Team is responsible for the team’s funding. The business team reaches out to local companies and companies in the STEM field to acquire funds through sponsorships and grants. These are then used to pay for robot parts, entrance fees for each competition, scholarships, and STEM outreach events. Sponsors are a very important part to the team’s success and are greatly appreciated by the team.</p>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<p>&emsp;&bull;Ojaswini T: <a href="mailto:ojaswinit@gmail.com">ojaswinit@gmail.com</a></p>
{% endif %}

<h3><a href = "/team-organization/CAD">CAD (Computer Aided Design)</a></h3>
<p>The CAD team is responsible for designing computerized models of the robot and its parts from prototypes. The CAD team creates the ultimate refined build plan of the robot. It ensures that the team has the parts and machining resources required to construct the robot, and provides drawings and insight to machinists to assist part manufacturing and robot construction.</p>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<p>&emsp;&bull;Sam: <a href="mailto:sjdunbar03@gmail.com">sjdunbar03@gmail.com</a></p>
{% endif %}

<h3><a href = "/team-organization/code">Code</a></h3>
<p>The code team is in charge of all programming done for the robot. Our team uses using the Java language and environment. All software is also shared on the team’s <a href = "https://github.com/frc-2175">GitHub repository</a>.</p>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Alayna: <a href="mailto:alaynatan@mnmsa.org">alaynatan@mnmsa.org</a></span>
<br>
<span>&emsp;&bull;Nupur: <a href="mailto:kumarnupurk@gmail.com">kumarnupurk@gmail.com</a></span>
{% endif %}

<h3><a href = "/team-organization/electronics">Electronics</a></h3>
<p>Our electrical team is in charge of the electrical design and wiring. This team ensures that all connections are good and that the robot will run smoothly. Besides making sure everything is connected and works right they also try to make sure every wire is managed and organized so we can easily figure out where stuff is being wired to and diagnose any problems.</p>
<!--<p><b>Subteam Lead Contact Info:</b></p>
<p>&emsp;&bull;Lia: <a href="mailto:liapothos7@gmail.com">liapothos7@gmail.com</a></p>-->

<h3><a href = "/team-organization/marketing-and-imagery">Marketing and Imagery</a></h3>
<p>The Marketing and Imagery Team is responsible for the use of the team image. They design buttons featuring the team name, number, and mascot. Graphics for posters, business cards, and banners are created by the Marketing and Imagery Team. This team also orders items like lanyards, stress balls, and business cards to give away at competitions. They are also in charge of all apparel.</p>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Lily: <a href="mailto:lilyswanson@mnmsa.org">lilyswanson@mnmsa.org</a></span>
<br>
<span>&emsp;&bull;Bridgette: <a href="mailto:bridgette@dalldorf.com">bridgette@dalldorf.com</a></span>
{% endif %}

<h3><a href = "/team-organization/outreach">Outreach</a></h3>
<p>The outreach team is responsible for planning demonstrations with our robot to help spread the mission of FIRST within our community. Demos happen all throughout the year. The outreach sub­team leader helps organize these events and keeps track of them. They are in charge of the distribution of our “outreach kits”, getting a one page update from demo lead and making sure time line is kept current.</p>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<p>&emsp;&bull;Emily: <a href="mailto:emilywong@mnmsa.org">emilywong@mnmsa.org</a></p>
{% endif %}

<h3><a href = "/team-organization/safety">Safety</a></h3>
<p>The safety subteam's job is to keep everyone in the team safe. This includes teaching people how to use the machines, cleaning up battery spills, and making sure that everyone behaves responsibly when in the work shop.</p>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Kieran: <a href="mailto:emilywong@mnmsa.org">emilywong@mnmsa.org</a></span>
{% endif %}

<h3><a href = "/team-organization/scouting-and-strategy">Scouting and Strategy</a></h3>
<p>During a competitive robotics event, the scouting team is responsible for surveying other teams and their robots both on the field and in the pits. Data on the capabilities of the other teams at the competition is collected and considered. The scouting and strategy team creates pick lists so the team can choose the best alliance possible. The scouting team assists the drive team with strategy for matches and interacts with other teams.</p>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Theo: <a href="mailto:theokroells@gmail.com">theokroells@gmail.com</a></span>
<br>
<span>&emsp;&bull;Emily: <a href="mailto:emilywong@mnmsa.org">emilywong@mnmsa.org</a></span>
{% endif %}

<h3><a href = "/team-organization/website-and-online-presence">Website and Online Presence</a></h3>
<p>The Website and Online Presence (MOP) Team is the Fighting Calculator's face and voice on the internet. Its job is to keep the team's online image up to date, by writing blog posts and posting to the team's <a href = "https://twitter.com/frc2175">Twitter</a>, <a href = "https://www.facebook.com/frc2175/">Facebook</a>, and <a href = "https://www.instagram.com/fightingcalculators2175/">Instagram</a> pages. MOP team duties include writing for the public view and a little bit of web design to keep our online presence both attractive and informative. The MOP team also deals with photography, video production, and <a href = "https://www.twitch.tv/fightingcalculators">webcasting.</a></p>


<!-- <button class=" team organization" type="button"> Awards </button>

<button class=" team organization" type="button"> Build </button>

<button class=" team organization" type="button"> Business </button>

<button class=" team organization" type="button"> CAD (Computer Aided Design) </button>

<button class=" team organization" type="button"> Electronics </button>

<button class=" team organization" type="button"> Marketing and Imagery </button>

<button class=" team organization" type="button"> Outreach </button>

<button class=" team organization" type="button"> Scouting and Strategy </button> -->
























{% endblock %}
