{% extends "index.html" %}
{% block title %}
Team Requirements
{% endblock %}

{% block content %}
<div class="column">
    <h3>Team Requirements</h3>
    <img src="/static/2018TeamRequirements.PNG" style="margin-left: auto; margin-right: 180px;">
    <p>Notes:</p>
    <p> 1. Attending multiple days of the same event only counts as one event. </p>
    <p> 2. All requirements must be completed and documented by <strong>April 30th</strong> each year. </p>
    <p> 3. Organizing and leading an outreach event counts as a requirement for only one person except in the case of the following events, which can be counted for two people: Slice of Shoreview, Woodbury Days, MN State Fair, any new event planned. </p>
    </p>
    <h3>Logging Team Requirements</h3>
    <p>Obviously, we have to check that you are fulfilling these requirements. <a href="https://goo.gl/forms/aJ6hP4kwzYp8462H2">Please fill out the form below or click this sentence to log the requirements you fulfill </a>. We would recommend recording what you do every month or so, in order for you to remember and keep up to date with all that you do during the robotics season and all you have left to do! You can edit your response until April 30th, so keep that in mind.</p>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdXCfk3azI9Sl7KIGBOeD5QDGy_XpMfyLO1zb3qEbs-P83Pxg/viewform?embedded=true" width="640" height="3054" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
{% endblock %}
