[Unit]
Description=it runs benkins

[Service]
ExecStart=/home/ubuntu/benkins/benkins-server --basePath /home/ubuntu/benkins-root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
