{% extends "../base.html" %}

{% block title %}
Build Subteam
{% endblock %}

{% block content %}
<h2>Awards Subteam</h2>
<div class="column">
  <p>The awards team is responsible for the record keeping of the team. Members help prepare submissions for awards such as Woodie Flowers, Dean's List, and Entrepreneurship awards. With their main focus on working on the Chairman’s award, an award that honors a team that FIRST thinks is a strong role model for other teams and a team that they believe reaches out to the community to achieve the goals of FIRST. They also work with the team to help them talk to judges who walk through the pits during competitions. Members of the Awards Team also work as pit ambassadors, who engage visitors of the competition or people from other teams by discussing the game, season, and get them interested in FIRST.</p>
</div>
<img src="/static/WoodieFlowers.jpg">
{% endblock %}