{% extends "../base.html" %}

{% block title %}
Build Subteam
{% endblock %}

{% block content %}
<img src="/static/BuildSubteam.jpg">
<h2>Build Subteam</h2>
<div class="column">
  The build team is responsible for creating prototypes from ideas that spawn during team wide brainstorming sessions. They take anything from whiteboard drawings to full blown cad models and turn them into functioning prototypes. As the build season progresses and the team refines its designs, build team members begin manufacturing final parts. It is crucial that build team members have a basic understanding of the CAD team, as this is where all their work will come from. Build members operate machines such as the lathe, mill, sanders, numerous saws, and numerous other tools.
</div>
{% endblock %}
