{% extends "../base.html" %}

{% block title %}
Business Subteam
{% endblock %}

{% block content %}
<h2>Business Subteam</h2>
<div class="column">
  <p>The Business Team is responsible for the team’s funding. The business team reaches out to local companies and companies in the STEM field to acquire funds through sponsorships and grants. These are then used to pay for robot parts, entrance fees for each competition, scholarships, and STEM outreach events. Sponsors are a very important part to the team’s success and are greatly appreciated by the team.</p>
</div>
<p><b>Subteam Lead Contact Info:</b></p>
<p>&emsp;&bull;Ben K: <a href="mailto:benjaminkarel@mnmsa.org">benjaminkarel@mnmsa.org</a></p>
<img src="/static/Subteams/BusinessSubteam.jpg">
{% endblock %}