{% extends "base.html" %}

{% block title %}
CAD Subteam
{% endblock %}

{% block content %}
<div style="line-height:150%">
<h2>CAD (Computer Aided Design)</h2>
<p>The CAD team is responsible for designing computerized models of the robot and its parts from prototypes. The CAD team creates the ultimate refined build plan of the robot. It ensures that the team has the parts and machining resources required to construct the robot, and provides drawings and insight to machinists to assist part manufacturing and robot construction.</p>
<p>Using the program Solidworks, the CAD team designs 2D and 3D models of the robot and its parts. Creating computerized models helps turn ideas into comprehensive plans which the team can refer to during part manufacturing and assembly. CAD is an important aspect of many fields of engineering due to it’s accuracy, simulation tools, and use in CNC machining and 3D printing.</p>
<p><b>Subteam Lead Contact Info:</b></p>
<p>&emsp;&bull;Emma: <a href="mailto:emma.eke@gmail.com">emma.eke@gmail.com</a></p>
<p><b>CAD Seminar Links:</b></p>
<a style = "float: left;"><a href ="https://docs.google.com/presentation/d/1Vw0yIAtUoTw4XXu-dniGk1tZ_WS9gRLZu_vUDX7Nqwo/edit?usp=sharing"><img src = "/static/Slides Icon.png" style = "margin-right:5px;margin-left:18px;"></a><a href ="https://docs.google.com/presentation/d/1Vw0yIAtUoTw4XXu-dniGk1tZ_WS9gRLZu_vUDX7Nqwo/edit?usp=sharing">CAD in FRC Workshop</a></a>
<br>
<a style = "float: left;"><a href ="https://docs.google.com/presentation/d/11tsshxVcFj6qP-fzmPIhYOCCOIr0S77Wde0yYLwPtSk/edit?usp=sharing"><img src = "/static/Slides Icon.png" style = "margin-right:5px;margin-left:18px;"></a><a href ="https://docs.google.com/presentation/d/11tsshxVcFj6qP-fzmPIhYOCCOIr0S77Wde0yYLwPtSk/edit?usp=sharing">Computer Aided Design: Managing and Maintaining a CAD Team</a></a>
</div>
<img src = "/static/CADExample.png" style ="margin-top:20px;">
{% endblock %}