{% extends "base.html" %}

{% block title %}
CAD Subteam
{% endblock %}

{% block content %}
    <h2>CAD (Computer Aided Design) Subteam</h2>
    <p>The CAD team is responsible for designing computerized models of the robot and its parts from prototypes. The CAD team creates the ultimate refined build plan of the robot. It ensures that the team has the parts and machining resources required to construct the robot, and provides drawings and insight to machinists to assist part manufacturing and robot construction.</p>
    <p>Using the program Solidworks, the CAD team designs 2D and 3D models of the robot and its parts. Creating computerized models helps turn ideas into comprehensive plans which the team can refer to during part manufacturing and assembly. CAD is an important aspect of many fields of engineering due to it’s accuracy, simulation tools, and use in CNC machining and 3D printing.</p>
    <p><b>CAD Presentation Links:</b></p>
<div class = "icon-and-link indent-icon-and-link">
    <a href ="https://docs.google.com/presentation/d/1Vw0yIAtUoTw4XXu-dniGk1tZ_WS9gRLZu_vUDX7Nqwo/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1Vw0yIAtUoTw4XXu-dniGk1tZ_WS9gRLZu_vUDX7Nqwo/edit?usp=sharing">CAD in FRC Workshop</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/11tsshxVcFj6qP-fzmPIhYOCCOIr0S77Wde0yYLwPtSk/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/11tsshxVcFj6qP-fzmPIhYOCCOIr0S77Wde0yYLwPtSk/edit?usp=sharing">Computer Aided Design: Managing and Maintaining a CAD Team</a>
    <br>
    <p><b>2018 CAD Summer Lessons:</b></p>
    <a href ="https://drive.google.com/drive/u/2/folders/1-xl8GtuWvXJmcT71Bf-YeNjoIGVdoKbD"><img src = "/static/Icons/Forms Icon.png"></a><a href ="https://drive.google.com/drive/u/2/folders/1-xl8GtuWvXJmcT71Bf-YeNjoIGVdoKbD">2018 CAD Summer Lessons Folder (Must be signed into MSA email)</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/14uuCYoPLainmdEYge8KMvH8zEcj0KmSwh2tDRoYCVtw/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/14uuCYoPLainmdEYge8KMvH8zEcj0KmSwh2tDRoYCVtw/edit?usp=sharing">Lesson 1: Getting Started</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/1HaCPkRybW0Indff3myPEeebo1L8cPJkLOmeiVokwmAs/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1HaCPkRybW0Indff3myPEeebo1L8cPJkLOmeiVokwmAs/edit?usp=sharing">Lesson 2.1: Sketches</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/1dVGN7ijVmA_D8W2zHoYwPYPVbQmAELPSH2RdZeeOjlc/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1dVGN7ijVmA_D8W2zHoYwPYPVbQmAELPSH2RdZeeOjlc/edit?usp=sharing">Lesson 2.2: Sketches Practice</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/1W77KACVs1ZK7FjqURAWF5l_y56DsaMI0mZGTz9WMiT0/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1W77KACVs1ZK7FjqURAWF5l_y56DsaMI0mZGTz9WMiT0/edit?usp=sharing">Lesson 3.1: Features</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/1jL0JAUbNaNqhwi8FfebRQur83vxJnl_CvC_8SUQM1So/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1jL0JAUbNaNqhwi8FfebRQur83vxJnl_CvC_8SUQM1So/edit?usp=sharing">Lesson 3.2: Features Practice</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/1jJwqjTionUWZYp3Phv5ytt_E8Mn25KqybKFIp0mENoo/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1jJwqjTionUWZYp3Phv5ytt_E8Mn25KqybKFIp0mENoo/edit?usp=sharing">Lesson 4.1: COTS Parts</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/1_1qZzlxs0Xe5HTkfJf8y7Gj15Xuk2Cxj90097iQDAi8/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1_1qZzlxs0Xe5HTkfJf8y7Gj15Xuk2Cxj90097iQDAi8/edit?usp=sharing">Lesson 4.2: GrabCAD and Parts Practice</a>
    <br>
    <a href ="https://docs.google.com/document/d/1utYvzCaI06QLr7xliiWXbLsCqpKGLNsjiyDO7_-Ml48/edit?usp=sharing"><img src = "/static/Icons/Docs Icon.png"></a><a href ="https://docs.google.com/document/d/1utYvzCaI06QLr7xliiWXbLsCqpKGLNsjiyDO7_-Ml48/edit?usp=sharing">Lesson 4.3: Challenge Problem 1</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/15BMFTC_-9vYrSyHRhSKsYmyuY9wcqkKbgsrbR7QwERM/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/15BMFTC_-9vYrSyHRhSKsYmyuY9wcqkKbgsrbR7QwERM/edit?usp=sharing">Lesson 5.1: Assemblies</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/1GKmcfjsoIrJRmqHMtVmh7stb6eXkMqXsAMciVZkVFYM/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1GKmcfjsoIrJRmqHMtVmh7stb6eXkMqXsAMciVZkVFYM/edit?usp=sharing">Lesson 5.2: Assemblies Practice</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/1WOg0gAr3OeBKdt7D8QTQxohiT2nCmvXfx2thdZz5aQA/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1WOg0gAr3OeBKdt7D8QTQxohiT2nCmvXfx2thdZz5aQA/edit?usp=sharing">Lesson 6: Appearances, Measurements, and Simulation</a>
    <br>
    <a href ="https://docs.google.com/document/d/1041-zimuHIqdxgyDEMfCm_ekyPBWS_BPyX7w7A_sUdQ/edit?usp=sharing"><img src = "/static/Icons/Docs Icon.png"></a><a href ="https://docs.google.com/document/d/1041-zimuHIqdxgyDEMfCm_ekyPBWS_BPyX7w7A_sUdQ/edit?usp=sharing">CAD Laptop Agreement</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/1YmCaa1pQFtoBnZainytFbjevgN6gxpiUprZiJ-0qbJg/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1YmCaa1pQFtoBnZainytFbjevgN6gxpiUprZiJ-0qbJg/edit?usp=sharing">What is CAD? (2017)</a>
</div>
<br>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<p>&emsp;&bull;Sam: <a href="mailto:sjdunbar03@gmail.com">sjdunbar03@gmail.com</a></p>
{% endif %}
<img src = "/static/Subteams/2018RobotCAD.png" style = "margin-top:20px;display:inline-block">
{% endblock %}