{% extends "base.html" %}

{% block title %}
Code Subteam
{% endblock %}

{% block content %}
<h2>Code Subteam</h2>
<p>The code team is in charge of all programming done for the robot. Our team uses using the Java language and environment. All software is also shared on the team’s <a href="https://github.com/frc-2175">GitHub repository</a>.</p>
<p><b>Code Presentation Links:</b></p>
<div class = "icon-and-link indent-icon-and-link">
    <a href="https://docs.google.com/presentation/d/1ihBa1tVD9JuFiln85w6CTdPIr1CFQdSBo-7jDT4WA7c/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1ihBa1tVD9JuFiln85w6CTdPIr1CFQdSBo-7jDT4WA7c/edit?usp=sharing">Organizing Robot Code Projects</a>
    <br>
    <a href ="https://docs.google.com/presentation/d/1Tq8F5HkL_Xjx8kfzzmnCwFKCOOwkVe9EVWLZR25fWUM/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"></a><a href ="https://docs.google.com/presentation/d/1Tq8F5HkL_Xjx8kfzzmnCwFKCOOwkVe9EVWLZR25fWUM/edit?usp=sharing">Working with Properties and Logging</a>
    <br>
    <a href="https://docs.google.com/presentation/d/1o5lw5TBR9_pInx3gXV-pz_dSf9lRiuVVSjNtLCeZXdA/edit?usp=sharing"><img src = "/static/Icons/Slides Icon.png"><a href="https://docs.google.com/presentation/d/1o5lw5TBR9_pInx3gXV-pz_dSf9lRiuVVSjNtLCeZXdA/edit?usp=sharing">2018 Code Lessons</a></b></p>
    <br>
</div>
{% if loggedIn %}
<p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Alayna: <a href="mailto:alaynatan@mnmsa.org">alaynatan@mnmsa.org</a></span>
<br>
<span>&emsp;&bull;Nupur: <a href="mailto:kumarnupurk@gmail.com">kumarnupurk@gmail.com</a></span>
{% endif %}
<h3></h3>
<img src = "/static/Subteams/CodeSubteam.jpg">
{% endblock %}