{% extends "../base.html" %}

{% block title %}
Electronics Subteam
{% endblock %}

{% block content %}
<h2>Electronics Subteam</h2>
<div class="column">
  <p>Our electrical team is in charge of the electrical design and wiring. This team ensures that all connections are good and that the robot will run smoothly. Besides making sure everything is connected and works right they also try to make sure every wire is managed and organized so we can easily figure out where stuff is being wired to and diagnose any problems. They also oversee and install all pneumatic systems and their job is to provide the most efficient and up to date routing and wiring to make sure our robot works at it’s best. </p>
</div>
<p><b>Subteam Lead Contact Info:</b></p>
<p>&emsp;&bull;Addie: <a href="mailto:aelise13@gmail.com">aelise13@gmail.com</a></p>
<h3></h3>
<img src="/static/Subteams/ElectronicsSubteam.jpg">
{% endblock %}