{% extends "../base.html" %}

{% block title %}
Marketing and Imagery Subteam
{% endblock %}

{% block content %}
<h2>Marketing and Imagery Subteam</h2>
<div class="column">
  <p>The Marketing and Imagery Team is responsible for the use of the team image. They design buttons featuring the team name, number, and mascot. Graphics for posters, business cards, and banners are created by the Marketing and Imagery Team. This team also orders items like lanyards, stress balls, and business cards to give away at competitions. They are also in charge of all apparel.</p>
</div>
<!-- <p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Kieran: <a href="kieranfarrell@mnmsa.org">kieranfarrell@mnmsa.org</a></span>
<br>
<span>&emsp;&bull;Second email: <a href="kieranwfarrell@gmail.com">kieranwfarrell@gmail.com</a></span> -->
{% endblock %}