{% extends "../base.html" %}

{% block title %}
Media and Online Presence Subteam
{% endblock %}

{% block content %}
<h2>Media and Online Presence Subteam</h2>
<div class="column">
  <p>The Media and Online Presence (MOP) Team is the Fighting Calculator's face and voice on the internet. Its job is to keep the team's online image up to date, by writing blog posts and posting to the team's Twitter and Facebook pages (and hopefully instagram soon). MOP team duties include writing for the public view and a little bit of web design to keep our online presence both attractive and informative. The MOP team also deals with photography, video production, and webcasting.</p>
</div>
<h3><b>Subteam Lead Contact Info:</b></h3>
<span>&emsp;&bull;Bridgette: <a href="mailto:bridgette@dalldorf.com">bridgette@dalldorf.com</a></span>
<br>
<span>&emsp;&bull;Lily: <a href="mailto:lilyswanson@mnmsa.org">lilyswanson@mnmsa.org</a></span>
<h3></h3>
<img src="/static/Media&OnlinePresence.jpg">
{% endblock %}