{% extends "../base.html" %}

{% block title %}
Media and Online Presence Subteam
{% endblock %}

{% block content %}
<h2>Media and Online Presence Subteam</h2>
<div class="column">
    <p>The Media and Online Presence (MOP) Team is the Fighting Calculator's face and voice on the internet. Its job is to keep the team's online image up to date, by writing blog posts and posting to the team's <a href = "https://twitter.com/frc2175">Twitter</a>, <a href = "https://www.facebook.com/frc2175/">Facebook</a>, and <a href = "https://www.instagram.com/fightingcalculators2175/">Instagram</a> pages. MOP team duties include writing for the public view and a little bit of web design to keep our online presence both attractive and informative. The MOP team also deals with <a href = "https://frc2175.smugmug.com/">photography</a>, video production, and <a href = "https://www.twitch.tv/fightingcalculators">webcasting.</a></p>
</div>
<p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Bridgette: <a href="mailto:bridgette@dalldorf.com">bridgette@dalldorf.com</a></span>
<br>
<span>&emsp;&bull;Lily: <a href="mailto:lilyswanson@mnmsa.org">lilyswanson@mnmsa.org</a></span>
<h3></h3>
<img src="/static/Subteams/Media&OnlinePresence.jpg">
{% endblock %}