{% extends "../base.html" %}

{% block title %}
Outreach Subteam
{% endblock %}

{% block content %}
<h2>Outreach Subteam</h2>
<div class="column">
  <p>Community outreach is one of the most important ways The Fighting Calculators spread the message of FIRST. Through outreach in the community, the team hopes to reveal the opportunities available in FIRST programs, inform the public about STEM education, and ultimately inspire youth to pursue a career in STEM. The Fighting Calculators are proud to say that the team has had over 20 outreach events in 2017 alone.</p>
  <p>The outreach team is responsible for planning demonstrations with our robot. These outreach events include demonstrations at elementary and middle schools, a showcase of the robot at a fair (such as Woodbury Days and the Minnesota State Fair), a demonstration for a corporate sponsor, or a team volunteering event (Feed My Starving Children). Demonstrations happen all throughout the year.</p>
  <p>In addition to community outreach, the team is dedicated to spreading its time and resources to other FIRST teams. Fighting Calculator members are heavily involved in mentoring FLL teams from the Math and Science Academy’s middle school.</p>
</div>
<h3><b>Recent Outreach Events</b></h3>
<div style="text-align: center">
<p>State Fair</p>
<img src = "/static/StateFair1.png">
<br>
<img src = "/static/StateFair2.png">
<p>CHS Backpack Packing</p>
<img src = "/static/CHSBackpackPacking.png">
<p>Slice of Shoreview</p>
<img src = "/static/SliceOfShoreview.png">
<p>Science Museum</p>
<img src = "/static/ScienceMuseum.png">
<br>
</div>
<p>Picture of all our outreach events can be found on our Smugmug, at <a href = "https://frc2175.smugmug.com">https://frc2175.smugmug.com</a></p>
<p><b>Subteam Lead Contact Info:</b></p>
<p>&emsp;&bull;Anna: <a href="mailto:li.anna6389@gmail.com">li.anna6389@gmail.com</a></p>
<img src="/static/OutreachSubteam.jpg">
{% endblock %}