{% extends "../base.html" %}

{% block title %}
Safety
{% endblock %}

{% block content %}
<h2>Safety</h2>
    <p>The safety subteam's job is to keep everyone in the team safe. This includes teaching people how to use the machines, cleaning up battery spills, and making sure that everyone behaves responsibly when in the work shop.</p>
    <img src="static\Subteams\Safety.jpg">
<!--<p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Kieran: <a href="kieranwfarrell@gmail.com">kieranwfarrell@gmail.com</a></span>
<br>
<span>&emsp;&bull;Second email: <a href="kieranfarrell@mnmsa.org ">kieranfarrell@mnmsa.org</a></span> -->
{% endblock %}