{% extends "base.html" %}

{% block title %}
Scouting and Strategy Subteam
{% endblock %}

{% block content %}
<h2>Scouting and Strategy</h2>
<p>During a competitive robotics event, the scouting team is responsible for surveying other teams and their robots both on the field and in the pits. Data on the capabilities of the other teams at the competition is collected and considered. The scouting and strategy team creates pick lists so the team can choose the best alliance possible. The scouting team assists the drive team with strategy for matches and interacts with other teams.</p>
<p>The Scouting team uses two types of scouting, paper scouting, and AI scouting. Paper scouting is used for match scouting and pit scouting. Match scouting is done by having six scouts in the stands, each watching an individual robot in a match. Each scout then records data on their assigned robot such as number of gears collected, number of fuel launched into the boiler, and autonomous abilities. This data is then collected and typed into a spreadsheet. Pit scouting is done by asking teams specifically how they built their robot, and what their robot can do.</p>
<img src="/static/Scouting&StrategySubteam.jpg">
{% endblock %}