\{% extends "base.html" %}

{% block title %}
Scouting and Strategy Subteam
{% endblock %}

{% block content %}
<h2>Scouting and Strategy Subteam</h2>
    <p>There are 3 main phases for the 2175 scouting and strategy subteam for an FRC competition - preparation before events, match strategy, and alliance selection preparation.</p>
    <p><b>Before the Event</b></p>
    <p>Most of the work for the subteam comes before the event, as it is imperative to prepare everything ahead of time. After kickoff, the subteam assists with robot design when considering game and robot strategy as well as designing a scouting system for that year’s game. Then, after build season, the subteam takes a close look at Week 0 events to prepare for the competition. For later competitions, the subteam prescouts the teams competing in the event to get as much information possible before the event. At least a day before the event, the scouting team is formed and schedule is put out in advance of the competition. Finally, on the practice day of competitions, members “pit scout” the other teams at the competition to figure out robot capabilities and specific robot details.</p>
    <p><b>Match Strategy</b></p>
    <p>Once at the event, as the scouting team does their scouting, the data is analyzed as soon as possible for match strategy. This data is considered with other prescouting data and pit scouting data along with input from the other teams to determine strategies for all of the matches. As the qualification rounds progress, more importance is put on the match data, as it becomes more accurate and specific to robot capabilities.</p>
    <p><b>Alliance Selection Preparation</b></p>
    <p>After each day of qualification matches, the team holds a team meeting to talk and relax after competition. The day before elimination matches, this meeting includes an alliance selection preparation discussion, where the team creates a pick list and discusses all things related to the process of alliance selection. This list may be altered if there are more qualification matches left in the competition, but it is generally only slightly altered.</p>

<!-- <p><b>Subteam Lead Contact Info:</b></p>
<span>&emsp;&bull;Jourdan: <a href="jourdonmoua@mnmsa.org">jourdonmoua@mnmsa.org</a></span> -->
{% endblock %}