{% extends "../base.html" %}

{% block title %}
Website and Online Presence Subteam
{% endblock %}

{% block content %}
<h2>Website and Online Presence Subteam</h2>
<div class="column">
    <p>The Website and Online Presence subteam is the Fighting Calculator's face and voice on the internet. Its job is to keep the team's online image up to date, by writing blog posts and posting to the team's <a href = "https://twitter.com/frc2175">Twitter</a>, <a href = "https://www.facebook.com/frc2175/">Facebook</a>, and <a href = "https://www.instagram.com/fightingcalculators2175/">Instagram</a> pages. The our team's duties include writing for the public to see and implementing web design to keep our online presence both attractive and informative. Our subteam also helps with photography, video production, and <a href = "https://www.twitch.tv/fightingcalculators">webcasting.</a></p>
</div>
<img src="/static/Subteams/Media&OnlinePresence.jpg">
<!-- <p><b>Website Contact Info:</b></p>
<span>&emsp;&bull;Elizabeth: <a href="elizabethconlin@mnmsa.org">elizabethconlin@mnmsa.org</a></span> -->
{% endblock %}
